# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*
*.sqlite3

# Logs and reports
*.log
log/
logrotate/
*.gz
*.zip
*.tgz
/var/log/crypto-bot.log
/reports/
*.md

# System and OS files
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/
*.swp

# Compiled binary
*.so

# Backup files
*~
