[Unit]
Description=Crypto Telegram Bot
After=network.target

[Service]
ExecStart=/usr/bin/python3 /root/telegram-crypto-bot-github/main.py
WorkingDirectory=/root/telegram-crypto-bot-github
Restart=always
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
