[Unit]
Description=Schedule daily analysis for convert (america session)

[Timer]
OnCalendar=*-*-* 16:15
Persistent=true
Unit=gpt_convert_america.service

[Install]
WantedBy=timers.target
